<p>
<div id="wls-button-panel">
<a ui-sref="list"><button type="button" class="btn btn-primary">Stock List</button></a>
</div>
<form name = "stockInsertForm" ng-submit="submitInsertForm(stockInsertForm.$valid)" novalidate>
	<!-- NAME -->
	<div class="form-group">
		<label for="name">Name:</label>&nbsp;<input id="name" type="text" name="name" ng-model="stock.name" ng-minlength="3" autofocus required>
		<p ng-show="stockInsertForm.name.$error.minlength" class="help-block">Please enter at least 3 characters</p>
	</div>

	<!-- TICKER -->
	<div class="form-group">
		<label for="ticker">Ticker:</label>&nbsp;<input id="ticker" type="text" name="ticker" ng-model="stock.ticker" ng-minlength="3" required>
		<p ng-show="stockInsertForm.ticker.$error.minlength" class="help-block">Please enter at least 3 characters</p>
	</div>

	<!-- YEAR 1 -->
	<div class="form-group">
	<label for="year1">Year 1:</label>&nbsp;<input id="year1" type="number" name="year1" ng-model="stock.year1" required>
		<p ng-show="stockInsertForm.year1.$error.number" class="help-block">Please enter a number</p>
	</div>

	<!-- YEAR 2 -->
	<div class="form-group">
	<label for="year2">Year 2:</label>&nbsp;<input id="year2" type="number" name="year2" ng-model="stock.year2" required>
		<p ng-show="stockInsertForm.year2.$error.number" class="help-block">Please enter a number</p>
	</div>

	<!-- YEAR 3 -->
	<div class="form-group">
	<label for="year3">Year 3:</label>&nbsp;<input id="year3" type="number" name="year3" ng-model="stock.year3" required>
		<p ng-show="stockInsertForm.year3.$error.number" class="help-block">Please enter a number</p>
	</div>

	<!-- YEAR 4 -->
	<div class="form-group">
	<label for="year4">Year 4:</label>&nbsp;<input id="year4" type="number" name="year4" ng-model="stock.year4" required>
		<p ng-show="stockInsertForm.year4.$error.number" class="help-block">Please enter a number</p>
	</div>

	<!-- YEAR 5 -->
	<div class="form-group">
	<label for="year5">Year 5:</label>&nbsp;<input id="year5" type="number" name="year5" ng-model="stock.year5" required>
		<p ng-show="stockInsertForm.year5.$error.number" class="help-block">Please enter a number</p>
	</div>
	<p>

	<!-- SUBMIT -->
	<button type="submit" class="btn btn-primary" ng-click="copyStock(stock)" ng-disabled="stockInsertForm.$invalid">Add</button>

</form>