<p>
<div id="wls-button-panel">
<a ui-sref="list"><button type="button" class="btn btn-primary">Stock List</button></a>
</div>
<div="wls-stock-box">
	<div class="wls-stock-copy">
		<b>Stock Name</b>: {{currentStock.name}}
		<p>
		<b>Ticker</b>: {{currentStock.ticker}}
		<p>
		<b>Year 1</b>: ${{currentStock.year1 | number:0}}
		<p>
		<b>Year 2</b>: ${{currentStock.year2 | number:0}}
		<p>
		<b>Year 3</b>: ${{currentStock.year3 | number:0}}
		<p>
		<b>Year 4</b>: ${{currentStock.year4 | number:0}}
		<p>
		<b>Year 5</b>: ${{currentStock.year5 | number:0}}
	</div>
	<p>
		<div id="wls-button-panel-secondary">
		<a ui-sref="edit"><div class="wls-button"><button type="button" class="btn btn-primary">Edit</button></div></a>
		<div class="wls-button" ng-click="deleteStock(currentStock._id)"><button type="button" class="btn btn-primary">Delete</button></div>
		</div>
</div>