/* app css stylesheet */

.nav, .wls-stock-container, .panel-title a { cursor: pointer; }

body {
    text-align: center;
    color: #000;
    padding: 5em;
}

.wls-copy {
    margin:0 auto;
    text-align: left;
    border:1px solid gray;
    padding:1em;
    width:50%;
}

.wls-stock-copy {
    margin:0 auto;
    text-align: left;
    border:1px solid gray;
    padding:1em;
    width:30%;
}

.wls-stock-edit {
    margin:0 auto;
    text-align: center;
    border:1px solid gray;
    padding:1em;
    width:50%;
}

#wls-button-panel {
    margin:2em;
}

#wls-button-panel-secondary {
    margin: 0 auto;
    width:50%;
    text-align: center;
}

.wls-button {
    display: inline-block;
    position:relative;
    margin:.2em;
}

.wls-stocklist-container {
    width:80%;
    height:50%;
	margin:0 auto;
	text-align: center;
}

.wls-stock-container {
    display:inline-block;
    position:relative;
    float:left;
    width:20%;
    height:2em;
    margin:.2em;
    text-align: center;
    border:1px solid gray;
}

.wls-stock-box {
    margin:0 auto;
    text-align: left;
    border:1px solid gray;
    padding:1em;
    width:20%;
}