.nav, .buy, .sell, .reset a { cursor: pointer; }

body {
    text-align: center;
    color: #000;
    padding: 5em;
}

.wls-copy {
    margin:0 auto;
    text-align: left;
    border:1px solid gray;
    padding:1em;
    width:40em;
}

#wls-center-button-panel {
    position: relative;
    text-align: center;
}

#wls-left-button-panel {
    position: relative;
    text-align: left;
    float:left;
    padding:1em;
}

#wls-console {
    position: relative;
    margin:0 auto;
    text-align: left;
    border-left:1px solid gray;
    border-right:1px solid gray;
    border-bottom:1px solid gray;
    padding:1em;
    height:30em;
    width:40em;
}

#chart {
    text-align: center;
}

#cash {
    background-color:#2ca02c;
}

#stock1 {
    background-color:#1f77b4;
}

#stock2 {
    background-color:#ff7f0e;
}

#stock3 {
    background-color:#d62728;
}

#cash,
#stock1,
#stock2,
#stock3 {
    width:2em;
    height:1.5em;
    display: inline-block;
    float: left;
}

.cell, 
.label_cell, 
.amount_cell,
.buy, 
.sell,
.reset  {
    position: relative;
    float: left;
    display: inline;
    margin-right:1em;
}

.label_cell {
    width: 4em;
}

.amount_cell {
    width: 6em;
}

#color_bars {
}

.color_bar {
    width:6em;
    height:1.5em;
}

#cashPos,
#stock1Pos, 
#stock2Pos,
#stock3Pos {
    position: relative;
    width:30em;
    height:1.5em;
    margin-bottom:.5em;
}